<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcwilliams.TableTopicsApp"
    android:versionCode="5"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        tools:replace="icon, label"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Table Topics"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity
            android:name=".activities.BaseActivity"
            android:label="Table Topics"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.Home"
            android:label="Table Topics"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.mcwilliams.TableTopicsApp.AddMembers"
            android:label="Add Members"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.mcwilliams.TableTopicsApp.AddTopics"
            android:label="Add Topics"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ManagePeople"
            android:label="Manage Members"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ManageTopics"
            android:label="Manage Topics"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.PredefinedTopic"
            android:label="Predefined Topics"
            android:screenOrientation="portrait"/>
        <!-- <meta-data android:name="com.crashlytics.ApiKey" android:value="56ed480b2e0151aa946b99e2d5aa9c760f60cf3d"/>-->

    </application>

</manifest>